<html>
<head>
	<link rel="stylesheet" type="text/css" href="app.css" />
</head>
<body ng-app="feed">
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<h1>Air Scooby</h1>
	<div ng-controller="feedItem">
		<div ng-repeat="item in items" class="item">
			<h1> {{ item.action }} </h1>
			<div ng-repeat="itemPosition in item.positions" class="itemPosition">
				<div>{{ $index + 1}}º</div>
				<div class="subitem"> 
					<p class="value"> {{ itemPosition.value }} </p>
					<p class="name"> {{ itemPosition.name }} </p>
				</div>
				<div class="subitem"> 
					<img ng-src="{{itemPosition.thumbnail}}"/>
				</div>
			</div>
		</div>
	</div>
</body>
</html>